@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 14% 11%;
    --foreground: 210 40% 98%;
    --card: 223 14% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 223 14% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 263 70% 70%;
    --primary-foreground: 210 40% 98%;
    --secondary: 223 14% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 223 14% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 263 50% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 223 14% 20%;
    --input: 223 14% 20%;
    --ring: 263 70% 70%;
    --radius: 0.5rem;
    --sidebar-background: 222 14% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 263 70% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 14% 13%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 223 14% 15%;
    --sidebar-ring: 263 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Rubik", sans-serif;
  }
}
